Stampd/GoogleService-Info.plist
Stampd.xcodeproj/project.pbxproj
Stampd.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Stampd.xcodeproj/project.xcworkspace/xcuserdata/dasadishree.xcuserdatad/UserInterfaceState.xcuserstate
Stampd.xcodeproj/project.xcworkspace/xcuserdata/dasadishree.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Stampd.xcodeproj/project.xcworkspace/xcuserdata/dasadishree.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist        
.DS_Store
Stampd/.DS_Store
stampd-a90ad-firebase-adminsdk-fbsvc-3b5e407a56.json
